.navbar{
    width: 100%;
    box-shadow: 3px 3px 15px 0px;
    height: 100px;
}
.logo a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;

}



.home li{
    display: inline-block;
    padding: 15px;
}
.home li a{
    text-decoration: none;
    color: black;
    transition: 0.5s;
}
/* .home li a:first-child{
    background-color: rgb(3, 60, 125);
} */
.home li a:hover{
    background-color: rgb(3, 60, 125);
    color: white;
}
.social-media li{
    display: inline-block;
    padding: 5px;
    background-color: whitesmoke;
    border-radius: 50%;
    transition: 1s;
}


.social-media li a{color: skyblue;
    font-size: 20px;
    transition: 0.5s;
    
}
.social-media li:hover{
    background-color: black;
}
.social-media{
    padding-bottom: 30px;
}
.btn button{
    background-color: darkblue;
    border: none;
    border-radius: 20px;
    padding: 15px 30px 15px 30px;
    color: white;
    transition: 0.5s;
}
.btn button:hover{
    background-color: black;
}